<launch>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/robots/simple_demo_robot.yaml" />
    <rosparam command="load" file="$(find elevation_mapping_demos)/config/elevation_maps/simple_demo_map.yaml" />
    <rosparam command="load" file="$(find elevation_mapping)/config/sensor_processors/kinect_nguyen_et_al.yaml" />
    <rosparam param="point_cloud_topic">/stereo/points2</rosparam>
    <rosparam param="map_frame_id">map</rosparam>
    <rosparam param="robot_base_frame_id">root</rosparam> 
    <rosparam param="sensor_frame_id">left_camera</rosparam>
    <rosparam param="track_point_frame_id">left_camera</rosparam>

  </node>

</launch>
